.character-container{
  min-height: 100vh;
  padding: 6%;
  background-image: url('../../images/character.png');
  background-size: 100%;
  .container-character-image{
    img{
      width: 100%;
    }
  }
  .character-info{
    padding: 15px 30px;
    background-color: #FFF;
    border-radius: 15px;
    img{
      width: 100px;
      height: 150px;
    }
  }
}