.not-found-container {
  min-height: 100vh;
  background-color: #444444;
  padding: 6%;
  color: #fff;
  .not-found-container-image {
    text-align: center;
    img {
      width: 55%;
      margin: 0 auto;
    }
  }
  .not-found-conatiner-text {
    padding-top: 10vh;
    h1 {
      font-size: 80px;
      font-weight: bold;
    }
  }
}
@media screen and (max-width: 768px) {
  .not-found-container {
    .not-found-container-image {
      img {
        width: 95%;
      }
    }
    .not-found-conatiner-text {
      padding-top: 0;
    }
  }
}
