.planet-container{
  min-height: 100vh;
  padding: 6%;
  background-image: url('../../images/planet.jpg');
  background-size: 100%;
  .container-planet-image{
    img{
      width: 100%;
    }
  }
  .container-planet-info{
    padding: 15px 30px;
    background-color: #FFF;
    border-radius: 15px;
    .planet-info-box{
      h4{
        margin: 15px 0px;
      }
      .planet-image-container{
        display: inline-block;
        text-align:  center;
        padding-right: 10px;
        img{
          width: 180px;
          height: 250px;
          margin: 0 auto;
        }
        p{
          margin-top: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px){
  .container-planet-image{
    padding: 25px 0px;
  }
  .container-planet-info{
    text-align: center;
    .planet-info-box{
      padding: 10px 0px;
    }
  }
}