$delay: 0.1s;
$menu-items: 6;

.navbar {
  width: 100%;
  background-color: transparent;
  height: 75px;
}
.navbar-color {
  background-color: #ffe81f !important;
  a {
    color: #000 !important;
    text-shadow: none !important;
  }
}
.navbar-container-items {
  .navbar-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    .navbar-item {
      cursor: pointer;
      a {
        color: #fff;
        text-align: center;
        text-shadow: 0 0 0.1em #000, 0 0 0.1em #000, 0 0 0.1em #000;
      }
      .navbar-item-lightsaber {
        width: 90px;
        opacity: 0;
      }
    }
    .navbar-item:hover {
      .navbar-item-lightsaber {
        opacity: 1;
      }
    }
  }
  .navbar-list-responsive {
    display: none;
  }
  .navbar-container-responsive {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid;
    float: right;
    padding: 4px 6px;
    cursor: pointer;
    div {
      width: 100%;
      height: 4px;
      background-color: #000;
      margin: 7px 0px;
      border-radius: 50px;
    }
  }
}
.menu-visible {
  display: inline-block !important;
}
.navbar-container-responsive {
  display: none;
}

// Animations

@keyframes drop {
  from {
    right: -150px;
  }
  to {
    right: 30px;
    animation-timing-function: ease-out;
  }
}

.menu-animate .navbar-item {
  animation: drop 0.9s;
  right: -150px;
  animation-fill-mode: forwards;

  @for $i from 2 through $menu-items {
    &:nth-child(#{$i}) {
      animation-delay: $delay * ($i - 1);
    }
  }
}

@media screen and (max-width: 900px) {
  .fixed-top {
    background-color: #ffe81f;
    .navbar-container-image {
      width: 44%;
      display: inline-block;
      .navbar-brand {
        img {
          width: 150px;
        }
      }
    }
    .navbar-container-responsive {
      display: inline-block;
    }
  }
  .navbar-container-items {
    text-align: right;
    width: 55% !important;
    display: inline-block;
    .navbar-list,
    .navbar-list-responsive {
      position: fixed;
      display: none;
      top: 75px;
      height: 100vh;
      .navbar-item {
        position: relative;
        list-style: none;
        padding-bottom: 15px;
        top: 0px;
        background-color: #ffe81f;
        a {
          color: #000;
          text-shadow: none;
        }
      }
      img {
        display: none;
      }
    }
  }
}
