/* fonts */
@font-face{
  font-family: 'QuickSand';
  font-weight: normal;
  src: local('QuickSand'), url(./fonts/Quicksand-Regular.ttf) format('truetype');
}
@font-face{
  font-family: 'QuickSand';
  font-weight: bold;
  src: local('QuickSand'), url(./fonts/Quicksand-Bold.ttf) format('truetype');
}
@font-face{
  font-family: 'QuickSand';
  font-weight: light;
  src: local('QuickSand'), url(./fonts/Quicksand-Light.ttf) format('truetype');
}
@font-face{
  font-family: 'QuickSand';
  font-weight: medium;
  src: local('QuickSand'), url(./fonts/Quicksand-Medium.ttf) format('truetype');
}

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Quicksand', sans-serif !important;
}
.no-margin{
  margin: 0px !important;
}
.no-padding{
  margin: 0px !important;
}
.btn{
  text-transform: uppercase;
}